.wui-card {
  display: table;
  word-break: break-word;
}

.wui-card .content {
  display: table-cell;
  font-family: sans-serif;
  font-size: 120%;
  color: white;
  padding: 10%;
  text-align: center;
}
